body{
    background:#BF93B0;
    }

    .titulo{
        position: absolute;
        width: 790px;
        height: 400px;
        left: 600px;
        top: 0px;
        
        background: url(WhatsApp Image 2023-03-20 at 16.32.jpg);
        filter: blur(2px);

        





}


